body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to right,#ffffff, #c92ef8);
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background: #000000;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #c92ef8 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    font-family: sans-serif;
}

header .highlight, header .current a{
    color: #3c8bf3;
    font-weight: bold;
}

header a:hover{
    color: #f956ff;
    font-weight: bold;
}

header h1{
    color: #c92ef8;
}

@media(max-width:768px){
    header #branding,header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }
}